.btn-ord{
    color: white !important;
    font-weight: bold !important;
    background-color: #ff4d04 !important;
    padding: 7px 10px !important;
    border-radius: 1% !important;
}
.bold-text {
    font-weight: bold !important;
    color: black;
  }
  